.flexbox-container {
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
}

.flexbox-container > div {
    width: 100%;
    height: 400px;
	padding: 10px;
}

.flexbox-container > div:first-child {
	margin-right: 20px;
}